* {
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
	position: relative;
	background-color: $main-gray;
}

html {
	overflow-y: hidden;
}

body {
	overflow-y: scroll;
	overflow-x: hidden;
}

section, footer {
  padding: 50px 10vw;
}

.container {
  width: 100%;
  height: 100%;
  background-color: $white;
  
  .flex-wrapper {
    display: flex;

    &.fx-col {
      flex-direction: column;
    }

    &.fx-it-cen {
      align-items: center;
      justify-content: center;
    }

  }

  h1, h2, p {
    color: $main-gray;
  }

}