.btn {
  padding: 5px 15px;
  color: white;
  border-radius: 5px;
  outline: none;
  transition: all 0.2s;

  &-primary {
    background-color: $main-gray;
  }

  &-secundary {
    color: $main-gray;
    background-color: $white;
  }

  &:hover, &:focus {
    transform: scale(1.1);
  }

}