form {
  &.f-sign {
    width: 30%;
    
    @include media-query(tab) {
      width: 70%;
    }
  }

  .field {
    width: 100%;
    padding: 25px 10px;

    .checkLabel {
      color: $light-gray;
      font-size: $fs-12;
    }
  }

}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 5px 10px;
  font-size: $fs-14;
  border: none;
  border-bottom: 1px solid $light-gray;

  &:focus, &:hover {
    outline: none;
    border-bottom: 1px solid $blue;
    border-image: linear-gradient(to right, $main-gray-2, $main-gray);
    border-image-slice: 1;
  }

  &::placeholder {
    color: $light-gray;
    font-size: $fs-12;
  }
}