form {
  &.f-sign {
    width: 30%;
    
    @include media-query(tab) {
      width: 70%;
    }
  }

  &.form-white {
    width: 50%;

    label {
      width: 20%;
      color: $white;
      font-weight: $bold;
    }

    input[type=submit] {
      margin-top: 20px;
      color: $main-gray;
    }

    input[type=file] {
      color: $white;
    }

    input[type=text] {
      width: 90%;
    }
  }

  .field {
    width: 100%;
    padding: 25px 10px;

    .checkLabel {
      color: $light-gray;
      font-size: $fs-12;
    }
  }

}

input[type=text], input[type=email], input[type=password] {
  width: 100%;
  padding: 5px 10px;
  font-size: $fs-14;
  border: none;
  border-bottom: 1px solid $light-gray;
  background: transparent;

  &:focus, &:hover {
    outline: none;
    border-bottom: 1px solid $blue;
    border-image: linear-gradient(to right, $main-gray-2, $main-gray);
    border-image-slice: 1;
  }

  &::placeholder {
    color: $light-gray;
    font-size: $fs-12;
  }
}