table {
  width: 100%;
  margin: 0 auto;
  color: $white;

  th {
    font-weight: $bold;
    padding: 5px;
  }

  th, td {
    border: 1px solid $white;
  }

  td {
    padding: 10px;
    text-align: center;

    img {
      max-width: 50px;
    }

    a {
      color: $white;
      text-decoration: underline;
      padding-left: 10px;

      &:first-child {
        padding-left: 0;
      }
    }
  }
}