/* View Settings */

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.f-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.justc-c {
  justify-content: center;
}

.justc-end {
  justify-content: flex-end;
}

.align-c {
  align-items: center;
}

/* Text Settings */

h1, h2, p {
  font-family: 'Arial';
  color: $white;
}

h1 {
  font-size: 54px;
  font-weight: $bold;
}

h2 {
  font-size: 40px;
}

p {
  font-size: 18px;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}