h1, h2, h3, p {
  padding-right: 5px;
  padding-left: 5px;
}

h1 {
  font-family: $poppins;
  font-size: $fs-40;
  line-height: 1.5;
}

h2, h3 {
  font-size: $fs-30;
}

p {
  font-size: $fs-14;
}

h1, h2 {
  font-weight: $bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  font-weight: $bold;
  padding-top: 5px;
  padding-bottom: 5px;
}

h2, h3, p, a, label, input, th, td {
  font-family: $roboto;
  line-height: 1.5;
}

a {
  color: $black;
}