.social {

  li {
    margin-left: 20px;
    max-width: 30px;
    transition: 200ms all;

    &:hover {
      transform: scale(1.2);
    }
  }

  img {
    width: 100%;
    pointer-events: none;
  }
}